<form [formGroup]="addVentasForm"  autocomplete="off">
  <div class="form-floating mb-3">
    <select class="form-select" id="estacion" formControlName="estacion">
      <option [value]="null" disabled>Opciones</option>
      <option *ngFor="let estacion of estaciones[0];" [value]="estacion.id">
        {{ estacion.nombre }}
      </option>
    </select>
    <label for="estacion">Estacion</label>
  </div>

  <div id="numero_celular_error"  class="alert alert-danger" role="alert" *ngIf="addVentasForm.get('estacion').errors && (addVentasForm.get('estacion').dirty || addVentasForm.get('estacion').touched)">
    <small severity="error" *ngIf="addVentasForm.get('estacion').hasError('required') || addVentasForm.get('estacion').value === null">
      Estacion es requerido.
    </small>
  </div>
  <div class="form-floating mb-3">
    <select class="form-select" id="tarjeta" formControlName="tarjeta">
      <option [value]="null" disabled>Opciones</option>
      <option *ngFor="let tarjeta of tarjetas;" [value]="tarjeta?.id">
        {{ tarjeta?.nombre }}
      </option>
    </select>
    <label for="tarjeta">Tipo Tarjeta</label>
  </div>

  <div id="numero_celular_error"  class="alert alert-danger" role="alert" *ngIf="addVentasForm.get('tarjeta').errors && (addVentasForm.get('tarjeta').dirty || addVentasForm.get('tarjeta').touched)">
    <small severity="error" *ngIf="addVentasForm.get('tarjeta').hasError('required') || addVentasForm.get('tarjeta').value === null">
      Tipo de tarjeta es requerido.
    </small>
  </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="nombre_cliente"
      placeholder="Nombre Cliente"
      formControlName="nombre_cliente"
    />
    <label for="nombre_cliente">Nombre Cliente</label>
  </div>

  <div id="numero_celular_error"  class="alert alert-danger" role="alert" *ngIf="addVentasForm.get('nombre_cliente').errors && (addVentasForm.get('nombre_cliente').dirty || addVentasForm.get('nombre_cliente').touched)">
    <small severity="error" *ngIf="addVentasForm.get('nombre_cliente').hasError('required')">
      Nombre de cliente es requerido.
    </small>
    <small *ngIf="addVentasForm.get('nombre_cliente').hasError('minlength')">
      El nombre debe tener al menos 20 caracteres.
    </small>
    <small *ngIf="addVentasForm.get('nombre_cliente').hasError('pattern')">
      Por favor digita solo letras.
    </small>
  </div>
  <div class="form-floating mb-3">
    <input 
      type="text"
      class="form-control"
      id="numdoc_cliente"
      placeholder="Numero de Documento"
      formControlName="numdoc_cliente"
    />
    <label for="numdoc_cliente">Numero de Documento</label>
  </div>

  <div id="numero_celular_error"  class="alert alert-danger" role="alert" *ngIf="addVentasForm.get('numdoc_cliente').errors && (addVentasForm.get('numdoc_cliente').dirty || addVentasForm.get('numdoc_cliente').touched)">
    <small severity="error" *ngIf="addVentasForm.get('numdoc_cliente').hasError('required')">
      Número de celular es requerido.
    </small>
    <small *ngIf="addVentasForm.get('numdoc_cliente').hasError('minlength')">
      Número de celular debe tener 10 caracteres.
    </small>
    <small *ngIf="addVentasForm.get('numdoc_cliente').hasError('pattern')">
      Por favor digita solo números.
    </small>
  </div>
</form>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    (click)="createVenta()"
    data-bs-dismiss="modal"
    [disabled]="!addVentasForm.valid"
  >
    Guardar
  </button>
</div>
